<div class="list-group">
<% @found_artists_by_name.each do |a| %>
  <div class="list-group-item">
    <%= link_to create_discography_path(a.id), method: :get do %>
      <%= a.name %>
    <% end %>
  </div>
<% end %>
</div>