<div class="">
  <h1>Welcome to spotify discography playlist generator</h1>

  <p>Generate a playlist with every song by an artist. Sign in to your spotify account below to begin</p>

  <%= link_to 'Sign in to Spotify', '/auth/spotify' %>

</div>